extends layout

block content
    div.profile-header
      button.new-questionnaire-button(onclick="window.location.href = '/stepform';")
        i.fas.fa-plus
          |  new questionnaire
      button.logout-button(onclick="window.location.href = '/logout';")
        i.fas.fa-sign-out-alt
          |  Logout
      h2 #{profileData.username}
      
    .container            
      .row
        .col-sm-9.questionnaires-tab
                
          ul.nav.nav-tabs(role='tablist')
            li.nav-item
              a.nav-link.active(href="#personaltab" data-toggle='tab') My questionnaires
            li.nav-item
              a.nav-link(href="#completetab" data-toggle='tab') History of questionnaires

          div.tab-content
            div#personaltab.tab-pane.fade.show.active
              if profileData.questionnaires
                .questionnaires-table
                  table.questionnaires-list
                    tbody
                      tr
                        th Database code number
                        th Creation date
                      each quest in profileData.questionnaires
                        tr
                          td(style='width: 400px;')
                            form(action='/find' method='post')
                              button.btn-link.questionnaire-link(type='submit' name='codeNumber' value='#{quest.code_number}') #{quest.code_number}
                          td #{quest.insert_date}

              else 
                .row
                  .col-sm-9.questionnaires-table
                    h3 No questionnaire filled

            div#completetab.tab-pane.fade
              if result
                .questionnaires-table
                  table.questionnaires-list
                    tbody
                      tr
                        th Database code number
                        th Creation date
                      each quest in result
                        tr
                          td(style='width: 400px;')
                            form(action='/find' method='post')
                              button.btn-link.questionnaire-link(
                                type='submit' 
                                name='codeNumber' 
                                value='#{quest._source.code_number}'
                              ) #{quest._source.code_number}
                          td #{quest.insert_date}

              else 
                .row
                  .col-sm-9.questionnaires-table
                    h3 No questionnaire filled