extends layout

block content
    div.profile-header
      button.new-questionnaire-button(onclick="window.location.href = '/stepform';")
          |  Create new
      button.statistics-button(onclick="window.location.href = '/statistics';")
          |  Statistics
      button.logout-button(onclick="window.location.href = '/logout';")
          |  Logout
      
    .container            
      .row
        .col-sm-9.questionnaires-tab
                
          ul.nav.nav-tabs(role='tablist')
            li.nav-item
              a.nav-link.active(href="#personaltab" data-toggle='tab') My questionnaires
            li.nav-item
              a.nav-link(href="#completetab" data-toggle='tab') History of questionnaires

          div.tab-content
            div#personaltab.tab-pane.fade.show.active
              if profileData.questionnaires
                table.questionnaires-list
                  tbody
                    tr
                      th Database code number
                      th Creation date
                      th Link to questionnaire
                    each quest in profileData.questionnaires
                      tr
                        td #{quest.code_number}
                        td #{quest.insert_date}
                        td
                          form(action='/find' method='post')
                            button.btn.questionnaire-summary(
                              type='submit' 
                              name='codeNumber' 
                              value='' + quest.code_number
                            ) Open questionnaire
              else 
                .row
                  .col-sm-9.questionnaires-table
                    h3 No questionnaire filled

            div#completetab.tab-pane.fade
              if result
                table.questionnaires-list
                  tbody
                    tr
                      th Database code number
                      th Creation date
                      th Link to questionnaire
                    each quest in result
                      tr
                        td #{quest._source.code_number}
                        td #{quest.insert_date}
                        td
                          form(action='/find' method='post')
                            button.btn.questionnaire-summary(
                              type='submit' 
                              name='codeNumber' 
                              value='' + quest._source.code_number
                            ) Open questionnaire
              else 
                .row
                  .col-sm-9.questionnaires-table
                    h3 No questionnaire filled