extends layout

block content
    div.profile-header
      button(href='/logout')
        i.fas.fa-sign-out-alt
          |  Logout
      h1 #{profileData.username} - Nurse
      
    .container            
      .row
          .col-sm-9.questionnaires-tab
                
              ul.nav.nav-tabs(role='tablist')
                li.nav-item
                  a.nav-link.active(data-toggle='tab', role='tab', aria-controls='home', aria-selected='true') History of questionnaires
                li.nav-item
                  a.btn.add-questionnaire-btn(href='/stepform') Add questionnaire

      if profileData.questionnaires
        .row
          .col-sm-9.questionnaires-table
            table.questionnaires-list
              tbody
                tr
                  th Database code number
                  th Date of insert
                each quest in profileData.questionnaires
                  tr
                    td 
                      <form action="/find" method="post">
                        <button type="submit" name="codeNumber" value=#{quest.code_number} class="btn-link questionnaire-link">#{quest.code_number}</button>
                      </form>
                    td #{quest.insert_date}

        //- .row
        //-     .col-sm-9.questionnaires-list
        //-       .row
        //-         .col-md-6
        //-           h3 Database code number
        //-         .col-md-6
        //-           h3 Date of insert
        //-       each quest in profileData.questionnaires
        //-         .row
        //-           .col-md-6
        //-             <form action="/find" method="post">
        //-               <button type="submit" name="codeNumber" value=#{quest.code_number} class="btn-link questionnaire-link">#{quest.code_number}</button>
        //-             </form>
        //-           .col-md-6
        //-             p #{quest.insert_date}
      else 
        .row(style="margin-top: 20px;")
            .col-md-12
              .row
                .col-md-6
                  h3 No questionnaire filled