extends layout

block append style
    link(rel='stylesheet', href='/stylesheet/home.css')

block content
    div.profile-header
      button.questionnaires-list-button(onclick="window.location.href = '/home';")
        |  QUESTIONNAIRES<br>
        i.fa.fa-caret-down

      button.new-questionnaire-button(onclick="var t = document.getElementsByClassName(\"questionnaires-tab\"); var q = t[0]; q.classList.add(\"fade-out-top\"); window.location.href = '/stepform';")
        |  CREATE NEW<br>
        i.fa.fa-caret-down
          
      button.statistics-button(onclick="var t = document.getElementsByClassName(\"questionnaires-tab\"); var q = t[0]; q.classList.add(\"fade-out-top\"); window.location.href = '/statistics';")
        |  STATISTICS<br>
        i.fa.fa-caret-down

      button.btn.logout-button(onclick="window.location.href = '/logout';")
          |  Logout
      
    .container            
      .row
        .col-sm-9.questionnaires-tab.fade-in-top
                
          ul.nav.nav-tabs(role='tablist')
            li.nav-item
              a.nav-link.active(href="#personaltab" data-toggle='tab') My questionnaires
            li.nav-item
              a.nav-link(href="#completetab" data-toggle='tab') History of questionnaires

          div.tab-content
            div#personaltab.tab-pane.fade.show.active
              if profileData.questionnaires
                table.questionnaires-list
                  thead
                    tr
                      th Database code number
                      th Creation date
                      th Link to questionnaire
                      th Update questionnaire
                  tbody(style='padding-right: 15px;')
                    each quest in profileData.questionnaires
                      tr
                        td #{quest.code_number}
                        td #{quest.insert_date}
                        td
                          form(action='/find' method='post')
                            button.btn.questionnaire-summary(
                              type='submit' 
                              name='codeNumber' 
                              value='' + quest.code_number
                              onclick="var t = document.getElementsByClassName(\"questionnaires-tab\"); var q = t[0]; q.classList.add(\"fade-out-top\");"
                            ) Open summary
                        td
                          form(action='/update' method='post')
                            button.btn.questionnaire-summary(
                              type='submit' 
                              name='codeNumber' 
                              value='' + quest.code_number
                              onclick="var t = document.getElementsByClassName(\"questionnaires-tab\"); var q = t[0]; q.classList.add(\"fade-out-top\");"
                            ) Update
              else 
                .row
                  .col-sm-9.questionnaires-table
                    h3 No questionnaire filled

            div#completetab.tab-pane.fade
              if result
                table.questionnaires-list
                  thead
                    tr
                      th Database code number
                      th Creation date
                      th Link to questionnaire
                      th Update questionnaire
                  tbody(style='padding-right: 15px;')
                    each quest in result
                      tr
                        td #{quest._source.general.code_number}
                        td #{quest.insert_date}
                        td
                          form(action='/find' method='post')
                            button.btn.questionnaire-summary(
                              type='submit' 
                              name='codeNumber' 
                              value='' + quest._source.code_number
                              onclick="var t = document.getElementsByClassName(\"questionnaires-tab\"); var q = t[0]; q.classList.add(\"fade-out-top\");"
                            ) Open summary
                        td
                          form(action='/update' method='post')
                            button.btn.questionnaire-summary(
                              type='submit' 
                              name='codeNumber' 
                              value='' + quest.code_number
                              onclick="var t = document.getElementsByClassName(\"questionnaires-tab\"); var q = t[0]; q.classList.add(\"fade-out-top\");"
                            ) Update
              else 
                .row
                  .col-sm-9.questionnaires-table
                    h3 No questionnaire filled